<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- Pasos:

  Preparando estilos:
  Instale npm install bootstrap jquery @popperjs/core

  y en styles del angular.json puse
  
  "styles": [
    "node_modules/bootstrap/dist/css/bootstrap.min.css",
    "src/styles.css"
  ],
  "scripts": [
    "node_modules/jquery/dist/jquery.min.js",
    "node_modules/@popperjs/core/dist/umd/popper.min.js",
    "node_modules/bootstrap/dist/js/bootstrap.js"
  ]

  index.html -> body al final:
  
  <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css" media="screen">

  styles.css principal puse el codigo fuente de la pagina de materia bootstrap
  
  Trabajando con firebase:
  Instale npm install -g firebase-tools y me loguee con 

  firebase login (en terminal) con la cuenta donde tengo el proyecto

  ng add @angular/fire (este comando no instala firebase)
  npm install firebase


-->