<div class="container">
    <div class="row">
        <div class="col-12 mt-4 text-center">
            <h4 class="">
                Bienvenido al ejercicio 2, "Login" <br>
                Notas:
            </h4>
            <p>
                Primer acercamiento con Firebase, funcionando OK <br>
                Falta mejorar observables, injectors e ir a pagina de error 404. <br>
                Para el estilo use Material para practicar. <br>
                Comience haciendo click arriba a la derecha en el boton de LOGIN <br>
                Va a notar que cuando se loguea aparece el usuario que esta conectado arriba de la derecha
            </p>
        </div>
    </div>
</div>